{% for photo in photos %}
    {% set photo_id = photo.get("_id") %}
    <div class="row" style="padding-top: 5px; border-bottom: 2px #38A169 solid;" id="{{ photo_id }}">
        <div class="col-4">
            {% set photo_url = '/photo/' + photo['folder'] + '/' + photo['filename'] %}
            <a href="{{ photo_url }}" title="{{ photo['title'] }}" data-lightbox="{{ album_path }}">
                <img src="{{ photo_url }}" style="width:25%" alt="{{ photo['title'] }}"
                     data-photo-object-id="{{ photo_id }}"></a></div>
        <div class="col-6">
            <a href="javascript:void(0)" class="photo-row-title" id="photo-title-{{ photo.get('_id')}}" data-photo-object-id="{{ photo.get('_id')}}"
               data-bs-toggle="modal" data-bs-target="#photo-edit-modal-form"><strong>{{ photo['title'] }}</strong></a>
               <!-- /photo/edit/{{ photo.get('_id')}} -->
            <br/>
            <span id="photo-description-{{ photo.get('_id')}}">{{ photo['description'] }}</span>
            <br/>
            {% if "date_uploaded" in photo %}
                <span>Uploaded {{ photo['date_uploaded'].strftime('%d/%m/%Y, %H:%M:%S') }}</span>
            {% endif %}
            {% if "date_modified" in photo %}
                <span>| Updated {{ photo['date_modified'].strftime('%d/%m/%Y, %H:%M:%S') }}</span>
            {% endif %}
            | Credit:
            {% if photo['courtesy'].startswith('http') %}
                {% if 'facebook.com' in photo['courtesy'] %}
                    {% set source = "Facebook" %}
                {% else %}
                    {% set source = "Other" %}
                {% endif %}
                <a href="{{ photo['courtesy'] }}" target="_blank" id="original-photo-courtesy-{{ photo.get('_id')}}">{{ source }}</a>
            {% else %}
                {{ photo['courtesy'] }}
            {% endif %}
            {% if photo['other_albums'] %}
            <br/>Other albums:
            {% for album in photo['other_albums'] %}
                <a href="/albums/view/{{ album['path'] }}">{{ album['title'] }}</a>,
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-2">
            <div class="form-check">
                <input class="form-check-input cls-chk-remove-photo"
                       type="checkbox" id="chk-remove-{{ photo['filename'] }}"
                       name="chk-remove-{{ photo['filename'] }}"
                       data-photo-object-id="{{ photo_id }}"
                       data-photo-folder="{{ photo['folder'] }}"
                       data-photo-filename="{{ photo['filename'] }}">
                <label class="form-check-label" for="chk-remove-{{ photo['filename'] }}"></label>
            </div>
        </div>
    </div>
{% endfor %}

{% include('_photo-edit-modal-form.html') %}

<script>
    $('.photo-row-title').on("click", function() {
        // Change the name of Upload to Save button
        $("#action-button").html('<button type="button" class="btn btn-primary" id="btn-save">Save</button>');
        const photoObjectId = $(this).attr("data-photo-object-id");
        const photoTitle = $('#photo-title-' + photoObjectId)[0].innerText;
        $("#photo-title").val(photoTitle);
        const photoDescription = $('#photo-description-' + photoObjectId)[0].innerHTML;
        $("#photo-description").val(photoDescription);
        const photoCourtesy = $('#original-photo-courtesy-' + photoObjectId)[0];
        $("#photo-courtesy").val(photoCourtesy);

        $("#btn-save").on("click", function () {
            console.log("saving...");
            
            $.ajax({
                url: "/photo/update",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    "photo-object-id": photoObjectId,
                    "photo-title": $("#photo-title").val(),
                    "photo-description": $("#photo-description").val(),
                    "photo-courtesy": $("#photo-courtesy").val()
                }),
                beforeSend: function (xhr) {
                    console.log("Sending data to server...");
                },
                success: function (data) {
                    toastr.success("Updated successfully! The page is refreshing within 1 second.");
                    setTimeout(() => {
                        window.location.reload();
                    }, 1000);
                    // alternatively, reload the album using jQuery without refreshing the page
                },
                error: function () {

                }
            }).done(function (data) {
                console.log("Done! - Data: ", data);
            }).fail(function (jqXHR, textStatus) {
                console.log(textStatus, ": ", JSON.stringify(jqXHR));
            }).always(function (data) {
                console.log("The request has completed: ", data);
                toastr.success("The request has completed : " + JSON.stringify(data));
            });
        });
    });
    
</script>