<!-- The Modal -->
<div class="modal" id="select-albums-modal-form">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Choose albums to add the photo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label for="all-albums" style="display: none"></label>
                <select id="all-albums" class="form-select choose-albums" data-placeholder="Choose albums" multiple>
                    {% for album in albums %}
                        {% if album['title'] not in dict_album_values %}
                            <option value="{{ album['path'] }}">{{ album['title'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-add2album">Add</button>
            </div>

        </div>
    </div>
</div>
<script>
    $(function() {
        $('.choose-albums').select2({
            theme: 'bootstrap-5',
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
            allowClear: true,
        });
    });

    $("#btn-add2album").on("click", function() {
        console.log("clicked me - modal form!");
        const select2Data = $('.select2-selection__choice');
        let albums = [];
        $.each(select2Data, (index, object) => {
            const albumTitle = object.innerText;
            const lastChildId = object.lastChild.id;
            // the id of the lastChild looks like the sample below. It is patterned like
            // "select2-{filename}-container-choice-xxxx-{album-path}
            // id="select2-759b75a8-3bbb-4750-b5a7-b9f80d16c184jpg-container-choice-5ua6-pretties-girls-and-ladies"
            const startPos = lastChildId.lastIndexOf("container-choice");
            const albumPath = lastChildId.substring(startPos + "container-choice-".length + 5);
            albums.push({"path": albumPath, "title": albumTitle, "photo_object_id": photoObjectId});
        });

        $.ajax({
            url: "/photo/save-photo-to-albums/",
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                "photo-object-id": photoObjectId,
                "photo-folder": photoFolder,
                "photo-filename": photoFileName,
                "newly-added-albums": albums
            }),
            beforeSend: function (xhr) {
                console.log("Sending data to server...");
                let alreadyAddedAlbums = [];
                $.map(albums, function (item, index) {
                    const title = item.title;
                    if (existingAlbums.includes(title)) {
                        alreadyAddedAlbums.push(title);
                    }
                });
                if (alreadyAddedAlbums.length > 0) {
                    const s = alreadyAddedAlbums.join(", ");
                    toastr.warning("The photo is available in these albums " + s + ". Please remove them before clicking Save.");
                    return false;
                }
            },
            success: function (data) {
                console.log("Data returned back: ", data);
                const inAlbumsSelector = $('#in-albums-' + data['photo-object-id'])[0];
                let innerHTML = inAlbumsSelector.innerHTML;
                data['updated-albums'].map(item => {
                    if (!existingAlbums.includes(item.title)) {
                        innerHTML += '<a href="/albums/view/' + item.path + '">' + item.title + '</a>, ';
                    } else {
                        console.log("Photo " + photoFileName + " already added to the album " + item.title);
                        toastr.warning("Photo " + photoFileName + " already added to the album " + item.title);
                    }
                });
                inAlbumsSelector.innerHTML = innerHTML;
                $('.album-list').html("");
            },
            error: function () {

            }
        }).done(function (data) {
            console.log("Done! - Data: ", data);
        }).fail(function (jqXHR, textStatus) {
            console.log(textStatus, ": ", JSON.stringify(jqXHR));
        }).always(function (data) {
            console.log("The request has completed: ", data);
            toastr.success("The request has completed : " + JSON.stringify(data));
        });
    });
</script>