<div class="row pm-menubar">
    <div class="col-9">
<p id="pm-para-menubar">
    <a href="/" id="pm-menubar-home" class="menubar-item active">Home</a>
    <a href="/photo/list" id="pm-menubar-list" class="menubar-item">List</a>
    <a href="/photo/view" id="pm-menubar-view" class="menubar-item">View</a>
    <a href="/photo/albums" id="pm-menubar-albums" class="menubar-item">Albums</a>
    <a href="/photo/upload" id="pm-menubar-upload" class="menubar-item">Upload</a>
    <a href="/photo/todo-list" id="pm-menubar-todo-list" class="menubar-item">ToDo List</a></p>
</div>
<div class="col-3">
    <p id="pm-para-right-menubar">
        <a href="javascript:void(0)" id="pm-right-menubar-link-upload-a-photo">Upload a photo</a>
    </p>
</div>
</div>
{#{% include('_photo-edit-modal-form.html') %}#}
<style>
    /* The navigation bar */
.pm-menubar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the pm-menubar to fixed position */
  top: 0; /* Position the pm-menubar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the pm-menubar */
.pm-menubar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.pm-menubar a:hover {
  background: #ddd;
  color: black;
}

.main {
    padding: 16px;
    margin-top: 45px;
    /* height: 1500px; Used in this example to enable scrolling */
}

.active {
  background-color: lightcoral
}
</style>
<script>
  const menus = [{"/albums": "Albums"}, {"/": "Home"}, {"/list": "List"}, {"/view": "View"}, {"/todo-list": "ToDo List"}];
  $('.menubar-item').removeClass("active");
  const href = window.location.href;
  let path = href.substring(href.lastIndexOf("/"));
  if (path === "/") {
    path = "home";
  } else {
    path = path.substring(1);
  }
  $('#pm-para-menubar a[id="pm-menubar-' + path + '"]').addClass('active');

  $(document).ready(function() {
      const $btnUpload = $("#pm-right-menubar-link-upload-a-photo");
      $btnUpload.on("click", function() {
          $("#photo-edit-modal-form").modal('show');
      });
  });

//   $(function() {
//     $('#pm-para-menubar a').on("click", function() {
//       //alert($('.menubar-item').length);
//       $('.menubar-item').removeClass("active");
//       $(this).addClass('active');
//       /*
//       const url = window.location.pathname, 
//       urlRegExp = new RegExp(url.replace(/\/$/,'') + "$"); // create regexp to match current url pathname and remove trailing slash if present as it could collide with the link in navigation in case trailing slash wasn't present there
//       // now grab every link from the navigation
//       $('#pm-para-menu a').each(function(){
//           // and test its normalized href against the url pathname regexp
//           if (urlRegExp.test(this.href.replace(/\/$/,''))){
//               $(this).addClass('active');
//           }
//       });
//       */
//     });
//   });
  
//   $(document).ready(function () {
//     var url = window.location;
//     // Will only work if string in href matches with location
//     $('#pm-para-menubar a[href="' + url + '"]').parent().addClass('active');

//     // Will also work for relative and absolute hrefs
//     //$('#navbar .navbar-nav li a').filter(function () {
//     //  return this.href == url;
//     //}).parent().addClass('active').parent().parent().addClass('active');
// });

</script>