<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <div id="drop-area">
            <b><label for="photo-upload"
                      class="form-label">Browse OR Drag and Drop a photo here</label></b>
            <input type="file" id="photo-upload" name="photo-upload" multiple
                   class="form-control" accept="image/png,image/jpeg,image/jpg"
                   title="Click here to add photos"/>
        </div>
        <br/>
        <strong><label for="photo-url" class="form-label">Image/Photo URL</label></strong><br/>
        <input id="photo-url" name="photo-url" type="text" placeholder="Image/Photo URL"
               class="form-control"/>

    </div>

    <div class="mb-3">
        <strong><label for="photo-title" class="form-label">Title</label></strong><br/>
        <input id="photo-title" name="title" type="text" placeholder="Title of photo"
               class="form-control"/>
    </div>
    <div class="mb-3">
        <strong><label for="photo-description" class="form-label">Description</label></strong><br/>
        <textarea id="photo-description" name="description" type="textarea"
                  placeholder="Provide a description"
                  class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <strong><label for="photo-courtesy" class="form-label">Credit/Courtesy</label></strong><br/>
        <input id="photo-courtesy" name="courtesy" type="text" placeholder="Credit or Courtesy"
               class="form-control photo-courtesy"/>
    </div>
    <!--<div class="mb-3">
        <strong><label for="photo-hashtags" class="form-label">Hashtags</label></strong><br/>
        <input id="photo-hashtags" name="hashtags" type="text" placeholder="Hashtags"
               class="form-control"/>
    </div>
    <div class="mb-3">
        <strong><label for="photo-keywords" class="form-label">Keywords</label></strong><br/>
        <input id="photo-keywords" name="keywords" type="text" placeholder="Keywords"
               class="form-control"/>
    </div>-->
    <div class="mb-3" id="action-button">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>
<script>
    $(".photo-courtesy").on("focusout", function() {
        let value = $(this).val();
        if (value.includes("facebook.com")) {
            if (value.includes("idorvanity")) {
                // sample: https://www.facebook.com/photo/?fbid=939173604889879&set=
                // gm.2374139532977440&idorvanity=1316017315456339
                let sanitized = value.substring(0, value.lastIndexOf("idorvanity") - 1);
                $(this).val(sanitized);
            } else if (value.includes("&__cft__[0]=")) {
                // sample: https://www.facebook.com/photo/?fbid=421035673604303&set=a.308446338196571&__cft__[0]=
                // AZWZJnJc6XKMl4KSiT2DV0mDUbD2pqFEQXSpS70XQcUmfe0Tj6qz7QnbgVzkPtiLkSaqurQxT59UakbgtYoJSi6chjBLDPlLiRQZ
                // aMg6fzndlSWMBAV8RvLvdMbud9DntQH-Doy-Y3sQG2mbk0WD46ng9VVz9rBTdv1du9Kon6p4GMym_8zxy5NAkB5wsAOSjrqDHXP
                // OOvrm68LUjo7pzJYoPVWIJYIyLDsXMhnt-JP7kw&__tn__=EH-y-R
                let sanitized = value.substring(0, value.lastIndexOf("&__cft__[0]=") - 1);
                $(this).val(sanitized);
            }
        }
    });
</script>