<!-- The Modal -->
<div class="modal" id="photo-edit-modal-form">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit a photo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include('_photo-upload-form.html') %}
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-save-photo">Save</button>
            </div> -->
        </div>
    </div>
</div>
<script>
    
</script>