<!DOCTYPE html>
<html lang="en">
<head>
    <title>Album View | Photo Manager</title>
    {% include('_head.html') %}
    <link href="{{ url_for('static', filename='css/lightbox.css') }}"
          rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>

</head>
<body>
<div class="container">
    {% include '_menu-bar.html' %}
    <div class="main">
    {% if status == "FOUND" %}
        <div class="row">
            <div class="col">
                <h1>View Album {{ album_title }} ({{ nb_photos }})</h1>
                <hr/>
            </div>
        </div>

        {% if not is_empty_album %}
            {% include("_album_view_action_buttons.html") %}

            <div class="photo">
                {% include("_album_view_list.html") %}
            </div>
        {% else %}
            <div class="row">
                <div class="col">
                    <h2>No photo</h2>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col">
                <h1>Album not found</h1>
            </div>
        </div>
    {% endif %}
    </div>
</div>
<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/lightbox-plus-jquery.js') }}"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    {% if status == "FOUND" %}
    let sortDirection = "down";
    let sortField = "date_uploaded"
    let orgPhotoOrders = [];
    let order;
    $(function () {
        // below is used to drag
        let i = 1;
        {% for photo in photos %}
            {#$("#{{photo.get('_id')}}").sortable();#}
            order = {
                "{{photo.get('_id')}}": i
            };
            orgPhotoOrders.push(order);
            i++;
        {% endfor %}
        console.log("Nb. of photos", orgPhotoOrders.length);
        // below is used to set sortable
        $(".photo").sortable({
            cursor: 'move',
            distance: 30,
            opacity: 0.6,
            scrollSensitivity: 40,
            update: function (event, ui) {
                const photoOrder = $(this).sortable('toArray'); //.toString();
                const body = {
                    "album-object-id": "{{album_object_id}}",
                    "photos": photoOrder
                }
                if (photoOrder.length > 0) {
                    updateOrder(body);
                }
            }
        });
    });

    function updateOrder(body) {
        console.log(body);
        if (body["photos"].length > 0) {
            const URL = "/albums/reorder-photos"
            fetch(URL, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json; charset=utf-8',
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify(body)
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response failed!!!');
                }
                return response.json();
            }).then(data => {
                console.log(data);
            }).catch(error => {
                console.error('Error: ', error);
            });
        }
    }

    $('#btn-remove-photo').on("click", function () {
        const albumPath = $(this).attr("data-album-path");
        const checkBoxes = $('.cls-chk-remove-photo');
        console.log("Nb. of checkboxes: ", checkBoxes.length);
        let removedPhotos = [];
        checkBoxes.map((index, checkbox) => {
            if ($(checkbox).is(':checked')) {
                const photoObjectId = $(checkbox).attr("data-photo-object-id");
                const photoFolder = $(checkbox).attr("data-photo-folder");
                const photoFileName = $(checkbox).attr("data-photo-filename");
                removedPhotos.push({
                    "photo-object-id": photoObjectId, "photo-folder": photoFolder,
                    "photo-filename": photoFileName
                });
                console.log("Folder ", $(checkbox).attr("data-photo-folder"), ", " +
                    "File name: ", $(checkbox).attr("data-photo-filename"));
            }
        });
        if (removedPhotos.length > 0) {
            $.ajax({
                url: "/albums/remove-photos/",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({
                    "album-path": albumPath,
                    "removed-photos": removedPhotos
                }),
                beforeSend: function (xhr) {
                    console.log("Sending data to server...");
                },
                success: function (data) {
                    console.log(data);
                    window.location.reload();
                },
                error: function () {

                }
            }).done(function (data) {
                console.log("Done! - Data: ", data);
            }).fail(function (jqXHR, textStatus) {
                console.log(textStatus, ": ", JSON.stringify(jqXHR));
            }).always(function (data) {
                console.log("Removed the photos out the album completely: ", data);
            });
        }
    });

    $("#btn-shuffle-photo").on("click", function () {
        const albumPath = $(this).attr("data-album-path");
        const URL = "/albums/view/" + albumPath + "?sort=shuffle";
        fetch(URL, {
            method: 'GET'
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response failed!!!');
            }
            return response.text();
        }).then(data => {
            $(".photo").html(data);
        }).catch(error => {
            console.error('Error: ', error);
        });
    });

    $("#btn-reset-order-photo").on("click", function () {
        window.location.reload();
    });

    $('.dropdown-menu a').on("click", function () {
        $('button[data-toggle="dropdown"]').text($(this).text());
        const selected = $(this).text();
        $('#btn-sort').text(selected);
        sortField = $(this).attr("data-field-name");
        callServerToSortPhotos();
    });

    $('.sort-direction-para').on("click", function () {
        const sortDirectionIcon = $('#sort-direction-icon');
        if (sortDirectionIcon.hasClass("fa-arrow-circle-down")) {
            sortDirectionIcon.removeClass("fa-arrow-circle-down");
            sortDirectionIcon.addClass("fa-arrow-circle-up");
            sortDirection = "up";
        } else {
            sortDirectionIcon.removeClass("fa-arrow-circle-up");
            sortDirectionIcon.addClass("fa-arrow-circle-down");
            sortDirection = "down";
        }
        const btnSort = $("#btn-sort");
        if (btnSort.text() === "Sort") {
            // if the sort field hasn't been selected, set 'Uploaded' the default sort field
            btnSort.text("Uploaded");
            sortField = "date_uploaded";
        } else {
            console.log("Sorting by the selected field");
        }
        callServerToSortPhotos();
    });

    function callServerToSortPhotos() {
        const URL = "/albums/view/{{album_path}}?sort=" + sortField + ";" + sortDirection;
        fetch(URL, {
            method: 'GET',
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response failed!!!');
            }
            return response.text();
        }).then(data => {
            {#window.location.reload();#}
            {#console.log(data);#}
            $(".photo").html(data);
        }).catch(error => {
            console.error('Error: ', error);
        });
    }

    function callServerToChangeView(viewStyle) {
        let photosObjectIds = [];
        $('.photo').children().map((index, element) => {
            photosObjectIds.push($(element).attr('id'));
        });

        const URL = "/albums/view/{{album_path}}";
        fetch(URL, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify({
                "view": viewStyle,
                "photos-object-ids": photosObjectIds
            })
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response failed!!!');
            }
            return response.text();
        }).then(data => {
            $(".photo").html(data);
        }).catch(error => {
            console.error('Error: ', error);
        });
    }

    let viewStyle;
    $("#btn-view-changer").on("click", function() {
        if ($(this).hasClass("fa-th-list")) {
            $(this).removeClass("fa-th-list");
            $(this).addClass("fa-th-large");
            viewStyle = "_album_view_gallery.html";
        } else if ($(this).hasClass("fa-th-large")) {
            $(this).removeClass("fa-th-large");
            $(this).addClass("fa-columns");
            viewStyle = "_album_view_columns.html";
        } else if ($(this).hasClass("fa-columns")) {
            $(this).removeClass("fa-columns");
            $(this).addClass("fa-th-list");
            viewStyle = "_album_view_list.html";
        }
        callServerToChangeView(viewStyle);
    });
    {% endif %}
</script>

</body>
</html>