<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Homepage | Photo Manager</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Photo Manager</h1>
    <p><a href="photo/view">Photo View</a> | <a href="photo/list">Photo List</a> | <a href="photo/albums">Photo Albums</a> | <a href="todo/list">ToDo List</a></p>
</body>
</html>
