<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Choose albums to add the photo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label for="all-albums" style="display: none"></label>
                <select id="all-albums" class="form-select choose-albums" data-placeholder="Choose albums" multiple>
                    {#                        id="{{ photo['fileselect_album.htmlname'] }}" data-placeholder="Choose albums" multiple>#}
                    {% for album in albums %}
                        {% if album['title'] not in dict_album_values %}
                            <option value="{{ album['path'] }}">{{ album['title'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-add2album">Add</button>
            </div>

        </div>
    </div>
</div>