<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
<div class="row">
    <div class="col-5">
        <button type="button" class="btn btn-primary" id="btn-reset-order-photo">Reset Order</button>
        <button type="button" class="btn btn-primary" id="btn-shuffle-photo"
                data-album-object-id="{{ album_object_id }}"
                data-album-path="{{ album_path }}">Shuffle <i class="fa fa-random" style="font-size:20px"></i>
        </button>
        <label class="switch">
            <input type="checkbox" id="btn-view-original-description" title="Toggle to view formatted descriptions">
            <span class="slider round"></span>
        </label>
        <span><i id="btn-view-changer" class="fa fa-th-list" style="font-size:26px"></i></span>
    </div>
    <div class="col-5">
        <!-- Example split danger button -->
        <div class="btn-group" style="display: block">
            <div class="row">
                <div class="col-2">
                    <p style="font-size: 26px" id="sort-direction-block" class="sort-direction-para">
                        <i class="fa fa-arrow-circle-down" aria-hidden="true" id="sort-direction-icon"></i>
                    </p>
                </div>

                <div class="col-10">
                    <button type="button" class="btn btn-danger" id="btn-sort">Sort</button>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-field-name="title">Title</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" data-field-name="date_modified">Modified</a></li>
                        <li><a class="dropdown-item" data-field-name="date_uploaded">Uploaded</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" id="btn-remove-photo"
                data-album-path="{{ album_path }}"
                data-album-title="{{ album_title }}">Remove
        </button>
    </div>
</div>